<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) - [%thread{10}, %X{traceId:-}, %X{spanId:-}] %cyan(%logger{20}): %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로컬에서는 로그를 전송하지 않도록 설정 -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="com.example.demo" level="DEBUG"/>
    </springProfile>
    
    <springProfile name="dev">
     	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
        <springProperty scope="context" name="springAppVersion" source="spring.application.version"/>
        <contextName>${springAppName}</contextName>
    
        <property name="destination" value="${logstash_hostname:-logstash.elk.svc.cluster.local:5000}" />
        <!-- ELK - Logstash 로 로그를 전송하기 위한 appender -->
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${destination}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
              <providers>
                <timestamp>
                    <fieldName>Timestamp/KST</fieldName>
                    <timeZone>KST</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>Level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>Thread</fieldName>
                </threadName>
                <contextName>
                    <fieldName>ServiceName</fieldName>
                </contextName>
                <pattern>
                    <!-- the pattern that defines what to include -->
                    <pattern>
                        {
                        "ServiceVersion": "${springAppVersion}",
                        "ServiceHostName": "${hostname}",
                        "PID": "${PID:-}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                </arguments>
                <loggerName>
                    <fieldName>Logger</fieldName>
                </loggerName>
                <callerData>
                    <classFieldName>Class</classFieldName>
                    <methodFieldName>Method</methodFieldName>
                    <fileFieldName>File</fileFieldName>
                    <lineFieldName>Line</lineFieldName>
                </callerData>
                <message>
                    <fieldName>Message</fieldName>
                </message>
                <throwableClassName>
                    <fieldName>ExceptionClass</fieldName>
                </throwableClassName>
                <stackTrace>
                    <fieldName>StackTrace</fieldName>
                    <!-- maxLength - limit the length of the stack trace -->
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                       <maxDepthPerThrowable>200</maxDepthPerThrowable>
                        <maxLength>5000</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            	</providers>
            </encoder>
        </appender>
        
        <logger name="com.example.demo" level="DEBUG"/>
        <logger name="zipkin2" level="DEBUG"/>
        
        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

</Configuration>