<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
 	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="springAppVersion" source="spring.application.version"/>
    <contextName>${springAppName}</contextName>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) - [%thread{10}, %X{traceId:-}, %X{spanId:-}] %cyan(%logger{20}): %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로컬에서는 로그를 전송하지 않도록 설정 -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
    <springProfile name="!local">
        <property name="destination" value="${logstash_hostname:-logstash.elk.svc.cluster.local:5000}" />
        <!-- ELK - Logstash 로 로그를 전송하기 위한 appender -->
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${destination}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
						<fieldName>Timestamp/KST</fieldName>
                        <timeZone>KST</timeZone>
					</timestamp>
					<logLevel>
						<fieldName>Level</fieldName>
					</logLevel>
					<threadName>
                    	<fieldName>Thread</fieldName>
                	</threadName>
                	<contextName>
                       <fieldName>ServiceName</fieldName>
                    </contextName>
                    <pattern> {  "ServiceVersion": "${springAppVersion}",
                                    "ServiceHostName": "${hostname}",
                                    "PID": "${PID:-}",
                                    "type":"%X{type:-application}",
                                    "trace": "%X{traceId:-}", 
                                    "span": "%X{spanId:-}"
                               } 
                    </pattern>
                    <mdc/>	
                    <context/>
                    <logstashMarkers/>
                    <loggerName>
                    	<fieldName>Logger</fieldName>
                	</loggerName>
	                <callerData>
	                    <classFieldName>Class</classFieldName>
	                    <methodFieldName>Method</methodFieldName>
	                    <fileFieldName>File</fileFieldName>
	                    <lineFieldName>Line</lineFieldName>
	                </callerData>
	                <message>
	                    <fieldName>Message</fieldName>
	                </message>
                    <throwableClassName>
                    	<fieldName>ExceptionClass</fieldName>
               		</throwableClassName>
                	<stackTrace>
                    	<fieldName>StackTrace</fieldName>
                 	</stackTrace>   
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

</Configuration>