<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 css 파일을넣는다.-->
<th:block th:fragment="cssFragment">
   <link rel="stylesheet" th:href="@{/css/main.css}" >
   <link rel="stylesheet" th:href="@{/css/reset.css}" >
   <link rel="stylesheet" th:href="@{/css/style.css}" >
   <link rel="stylesheet" th:href="@{/css/base.css}" />
   <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
</th:block>
</html>